{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@application/(.*)$",
    "^@shared/(.*)$",
    "^@module/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true
}
